{% extends "base.html" %}
{% load pytags %}
{# title = Biostar Handbook Online #}
{# subtitle = supporting materials for the book #}
{# navtab = index #}
{# name = Biostar Handbook Online #}

{% block body %}

{% markdown %}

The pages below contain supporting materials for the
<a href="https://leanpub.com/biostarhandbook">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Biostar Handbook</a>

- - -

### Computer Setup

Bioinformatics would not exists without computers. The first
step is to turn your system into a computational powerhouse.

{%  thumb "setup.png" link='get-ready.html' %}
{%  thumb "install.png" link='how-to-install-everything.html' %}
{%  thumb "troubleshoot.png" link='troubleshoot.html' clearfix=1 %}

- - -

### Using the Unix command line


The ability to use Unix commands is required to perform bioinformatics data
analysis with command line tools.

{%  thumb "unix-intro.png" link='unix-shell-intro' %}
{%  thumb "unix-skills.png" link='unix-intro.html' %}
{%  thumb "power.png" link='unix-power.html' clearfix=1 %}

- - -

### Biological Data Sources

Automating data access is an important skill for a bioinformatician.

{%  thumb "ncbi-intro.png" link='ncbi-entrez.html' clearfix=1 %}

- - -

### Data quality control and post processing

Quality control (abbreviated as QC) is the process of improving
data by removing identifiable errors from it.

{%  thumb "qc-intro.png" link='fastq-quality-control.html' clearfix=1 %}


- - -

### Sequence Alignments

Local and global alignments.

{%  thumb "pairwise.png" link='sequence-alignment.html' %}
{%  thumb "nextgen.png" link='short-read-aligners.html' clearfix=1 %}

{%  thumb "sam.png" link='SAM-format.html' %}
{%  thumb "cigar.png" link='SAM-examples.html' %}
{%  thumb "flags.png" link='SAM-filtering.html' clearfix=1%}


- - -

### Genomic Variation

An introduction to detecting genomic variation

{%  thumb "snp.png" link='genomic_variation_intro.html' clearfix=1%}


- - -

### Genome Assemblies

An introduction to assembling genomes

{%  thumb "velvet-intro.png" link='assembly_intro.html' clearfix=1 %}

- - -

### RNA-Seq Analysis

Gene expression quantification via sequencing

{%  thumb "rnaseq-intro.png" link='rnaseq_intro.html' %}
{%  thumb "tuxedo-intro.png" link='tuxedo_intro.html' clearfix=1 %}

[book]: https://leanpub.com/biostarhandbook

- - -

{%  endmarkdown %}

{% back %}

{% endblock %}