{% extends "unitbase.html" %}
{% load pytags %}
{# title =  RNA-Seq #}
{# subtitle = transcriptome analysis #}
{# name = RNA-Seq and transcriptome analysis  #}

{% block body %}

{% markdown %}

### 1. Strand Specific RNA sequencing

This tutorial makes usee of data from the paper

* [Comprehensive comparative analysis of strand-specific RNA sequencing methods 11(8):e1004393.
Nature Methods 7, 709–715 (2010) ][nmeth.1491] by Joshua Z Levin,	Moran Yassour,	Xian Adiconis,	Chad Nusbaum,
Dawn Anne Thompson, Nir Friedman,	Andreas Gnirke	& Aviv Regev.

[nmeth.1491]: http://www.nature.com/nmeth/journal/v7/n9/full/nmeth.1491.html

The tutorial demonstrates the features of stranded RNA Seq data and how to compute
counts, RPKM, and TPM values.

Follow the tutorial at {% link "strand-specific-rnaseq-intro.html" %}



- - -


{% endmarkdown %}

{% endblock %}