{% extends "unitbase.html" %}
{% load pytags %}
{# title =  GriffithLab RNA-Seq #}
{# subtitle = transcriptome analysis in the cloud #}
{# name = Informatics for RNA-seq: A web resource for analysis on the cloud #}

{% block body %}

{% markdown %}

### Informatics for RNA-seq: A web resource for analysis on the cloud

Based on [Malachi Griffith*, Jason R. Walker, Nicholas C. Spies, Benjamin
J. Ainscough, Obi L. Griffith*. 2015.
Informatics for RNA-seq: A web resource for analysis on the cloud. 11(8):e1004393.
PLoS Computational Biology][pcbi.1004393]

[pcbi.1004393]: http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004393

- - -

### Install the data

Install the data as described in {% link "uhr-hbr-data.html" %}

Note that while we use the data published in the publication above the data naming and content
has been simplified.

- - -



{% endmarkdown %}

{% endblock %}