{% extends "unitbase.html" %}
{% load pytags %}
{% load handbook %}
{# title = DAVID tool #}
{# subtitle = scientific negligence or misconduct?#}
{# name = DAVID gene enrichment tool  #}

{% block body %}

{% md go %}




Lets find the  PubMed ID for the publication DAVID publication in Nat Protoc.

    esearch -db pubmed -query "DAVID Bioinformatics Resources[title] AND Nat Protoc. [journal]" | efetch

This produces `PMID: 19131956` and of course we could have found that directly on NCBI.

# Find all publications that link to this paper.

# Obtain the publications from PubMed.
esearch -db pubmed -query 19131956 | elink -name pubmed_pubmed_citedin -related | efetch -format docsum > citations.xml
# This will download information on 4886 papers

# Take the citations and extract only the year from the PubDate elements.
cat citations.xml | xtract -pattern DocumentSummary -element PubDate | cut -f 1 -d ' ' > cited_years.txt

# To find the way these are distributed over the years (ignoring 2015 as
# the year is not over yet:
cat cited_years.txt | sort | uniq -c | sort -k2,2 -n | awk '{ print $2, $1 }'
# 2009   55
# 2010  287
# 2011  554
# 2012  832
# 2013 1066
# 2014 1169

{%  endmd %}

{%  endblock %}