{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Hardware Setup #}
{# subtitle = this only needs to be done once #}
{# name = How do I set up my computer? #}

{% block body %}
{% markdown %}

These tasks only need to be done once.The recommended platforms are Ubuntu Linux and Mac OS X.

- - -

## Setting up a Mac OS X based computer

### Install XCode Command Line Tools

Mac OSX users need to install XCode command line tools with the following command:

    xcode-select --install

In addition users may need also need to occasionally launch
the same command again after certain updates to agree to
changes in the license. Users can accept the new license by typing:

    sudo xcodebuild -license

or by starting XCode itself.

- - -

### Install Homebrew

The Mac OSX instructions will use [HomeBrew](http://brew.sh/) whenever the tool has a corresponding
formula.
When using homebrew users need to tap the science formulas then
regularly update the formulas, especially after an XCode update.

    brew tap homebrew/science
    brew update

Ocassionally when using `brew` the version of the software
that `brew` installs may be older
than the newest release.
In that case users can often install from source the same tool.
Here is a list of all [science formulas](https://github.com/Homebrew/homebrew-science)

There are a number of important libraries that tools may require, it is best
if these are installed right away:

    # Install the X11 libraries.
    # Unlike most other installation commands this may take a long time
    # to finish (30 minutes or more) and it will ask for a root password.
    brew install Caskroom/cask/xquartz

    # Install required libraries. These will finish much faster.
    brew install gd libharu git imagemagick lzo hdf5 bison

A library may become outdated in which case it needs to be upgraded.
For example:

    brew update
    brew upgrade gd libharu git imagemagick lzo hdf5

Occasionally the `brew` command may fail to install a tool when some parts of the system do not have write access.
You will receive "permission errors" for example `/usr/local/man/ is not writable`.
In those cases you need to set write permissions to those directories with:

    sudo chmod 777 /usr/local/man/

**Note**: Mac OSX, El Capitan update, the following command may need to be run:

    sudo chown -R $(whoami):admin /usr/local

**Note:** even when regularly updated the brewed formulas may install
older versions of the software.

- - -

### Install Java JDK

Install [Java JDK for Mac OS X](http://www.oracle.com/technetwork/java/javase/downloads/index.html)

Make sure that you install the JDK (Java Development Kit) and not the JRE (Java Runtime Environment)

- - -

### Set the Finder Preferences

To be able to view your home directory within the Mac Finder
you need to tick a checkbox next to it. Go to Finder->Preferences your home directory
is named as your username.
My username is `ialbert`, yours will be different. See below:

![Finder Preferences](/img/finder-preferences.png)

**DONE**: Your Mac is now ready for bioinformatics.

- - -

# Setting up Linux based computer

Select a well established Linux distribution: Ubuntu

There are numerous Linux distributions with various naming schemes. To set up a system users
need to install packages via a so called package managers: `apt-get`, `yum` and others.
Depending on the Linux distribution's intial configuration one may install some, all or none of the
package shown below. Moreover the naming of these libraries occasionally changes. Please report
errors via the ticketing system. For Ubuntu Linux the following instructions were required.

    # Update your linux package. You may need to run this periodically.
    sudo apt-get update && sudo apt-get upgrade

    # Install a number of required libraries.
    sudo apt-get install -y curl build-essential ncurses-dev byacc zlib1g-dev python-dev git cmake

    # Install java and python libraries.
    sudo apt-get install -y unzip default-jre python-pip

Depending on your linux distribution software may be prepackaged. Typically
however these prepackaged versions lag the current versions.  For example
you may be able to install the EMBOSS tools with:

    sudo apt-get -y install emboss

You may also need to install common perl modules that sometimes are not included.
During the first run it will ask for a lot of parameters. Selecting the defaults should be fine.

    sudo perl -MCPAN -e 'install "LWP::Simple"'
    sudo perl -MCPAN -e 'install "HTML::Entities"'

**DONE**: Your Linux system is now ready for bioinformatics.

- - -

## Setting up a Windows based computer

### Install Cygwin

Ensure that you have selected all packages during installation. This is a bit counterintuitive
in the setup interface. You need to click the "plus" icon twice until all packages are selected.

(todo)

### Install Java

(todo)

{% endmarkdown %}

{% endblock %}