{% extends "unitbase.html" %}
{% load pytags %}
{% load handbook %}
{# title =  Install Everything #}
{# subtitle = install every piece of code in the book #}
{# name = How to install every tool in this book #}

{% block body %}
{% markdown %}

{% for name, path in context.TOOL_INSTALL %}<a href="#{{name}}">{{name}}</a> &bull; {% endfor %}

---

### How to use this page?

This page lists the installation instruction for every tool in the book. The list is sorted
alphabetically. The instructions are comprehensive and can be copy pasted into a terminal.

Note that for each installation step we show the update to the `PATH`
environment variable but don't apply it to the shell profile. See also:

* {% link "get-ready" %}
* {% link "how-to-set-the-path.html" %}
* {% link "set-bash-profile.html" %}

- - -

{# the context.SETUP_FILES contains the list of files in /unit/setup/install/*.md #}
{% for name, path in context.TOOL_INSTALL %}<a name="{{name}}"></a>
{% include path %}
{% top %}
- - -
{% endfor %}

{% endmarkdown %}
{% endblock %}