{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Set the PATH #}
{# subtitle = running tools you have installed #}
{# name = Why can't I run a tool I have just installed? #}

{% block body %}

{% markdown %}

One of the most frustrating issues faced by newcomers is how to run a program
they have just installed. Suppose you install the program `fastq-dump` but then as you try
to run it you could get this:

    $ fastq-dump
    fastq-dump: command not found

The main concept to remember here is that our computers
look at only a few locations when trying to find a program.
When bash cannot run a program it is because it cannot "see" the program.
Thus when we install a new program we
need to tell our computer where to look for it. There are different ways to do this:

- - -

### Solution 1: Use the full program name

Run the program by its fully qualified path (location). Of course you need to know what that is.
Go to the location where you installed the software.
From that software directory type `pwd` and that will tell you the full path that you can then use:

    /Users/ialbert/src/sratoolkit.2.5.2-mac64/bin/fastq-dump

we may use a shorter form when the program directory opens from our home directory:

    ~/src/sratoolkit.2.5.2-mac64/bin/fastq-dump

If that works then we can always invoke the program by this full name. It is a bit hard on eyes,
for a simpler way see the next solution.

- - -

### Solution 2: Extend the search PATH

It is a bit unwieldy to type the above each time.
If we wanted to be able to run the program just by typing its name say `fastq-dump` we
need instruct the computer to also look for the program in the `/Users/ialbert/src/sratoolkit.2.5.2-mac64/bin/`
directory. To do so
we need add the location of the program to the so called *search path* of the shell. The rule is simple
the shell looks at a variable called `PATH` and will search all locations listed in the `PATH`. What is
the current value of the `PATH`? Type the following:

    echo $PATH

This will produce a colon `:` separated list of all the locations that bash will look in when
searching for a program. We can extend this by:

    export PATH=~/src/sratoolkit.2.5.2-mac64/bin:$PATH

The new `PATH` will be constructed as the `new directory` + `:` + old value of the `PATH`.
Now we should be able to run the program as

    fastq-dump

Now the above is a solution but typing this (and all other) `export` commands every time we open a new terminal
is tedious. We want to apply the `PATH` and other setting automatically. That too is fairly simple
but it is a step down in the system admin rabbit hole. In this case you need to append this information
to the so called *shell profile*. See the page {% link "set-bash-profile.html" %}

- - -

### Solution 3: Create shortcuts

There are many cases when we only need to access a single program
and adding directories to the path is tedious and error prone.
In this case the solution is to first create
one directory and add it to the search path as in **Solution 2** above. Typically this
directoy is `~/bin`. Then
create symbolic links (shortcuts) from the programs into this `~/bin` directory.
Since the directory in already on the search path any new program added there will
also become accessible.

    # Creates the ~/bin directory if it did not exists
    mkdir -p ~/bin

    # Link fastq-dump program into the ~/bin folder
    #
    # Syntax: ln -s source destination
    #
    ln -s ~/src/sratoolkit.2.5.2-mac64/bin/fastq-dump ~/bin/fastq-dump

Of course we still need to add `~/bin` to our path. But this now only needs to
be done once. After that simply linking the program into `~/bin` will make it available
everywhere. The export command simply becomes.

    export PATH=~/bin:$PATH

To load these settings automatically see the page {% link "set-bash-profile.html" %}

{% endmarkdown %}
{% endblock %}