{% extends "unitbase.html" %}
{% load pytags %}
{# title = Entrez Direct #}
{# subtitle = NCBI, Ensemble, UCSC #}
{# name = Accessing curated biological data: NCBI Entrez #}

{% block body %}

{% markdown %}

This page contains the following sections:

* [Using Edirect](#intro)
* [Taxonomy searches with Entrez](#taxonomy)
* [Getting data from SRA](#sra)

Software installation help: {% link "install-everything" %}

{% endmarkdown %}

{% md using-edirect %}
- - -
### Using Edirect

Short intro to efetch, esearch and elink

{% code "entrez/ncbi-edirect-basics.sh" %}
{% endmd %}


{% md taxonomy %}
- - -
### Taxonomy searches with Entrez

On the NCBI taxonomy

{% code "entrez/ncbi-edirect-taxonomy.sh" %}
{% endmd %}

{% md sra %}
- - -
### Getting data from SRA

Short read archive is

{% code "entrez/ncbi-edirect-sra.sh" %}

{% endmd %}


{% endblock %}
