{% extends "base.html" %}
{% load pytags %}
{# title = About the Handbook #}
{# subtitle = authors, contributors #}
{# name = About #}

{% block body %}

{%  markdown %}

This site contains online materials for the bioinformatics data analysis guide titled:
<a href="https://leanpub.com/biostarhandbook">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Biostar Handbook</a>

### List of contributors

* Istvan Albert,  https://www.biostars.org/u/2/
* Giovanni M Dall'Olio, https://www.biostars.org/u/23/
* Your name here!

{%  endmarkdown %}

{% endblock %}