{% extends "base.html" %}
{% load pytags %}
{# title = About the Handbook #}
{# subtitle = authors, contributors #}
{# name = About #}

{% block body %}

{%  markdown %}

This site contains online materials for the bioinformatics data analysis guide titled:
<a href="https://leanpub.com/biostarhandbook">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Biostar Handbook</a>
- - -

### Licensing

<a rel="license"
href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
<img alt="Creative Commons License" style="border-width:0;
float:left; padding-right:1em;"
src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"
/></a>

The Biostar Handbook is licensed
under a [Creative Commons Attribution-NonCommercial-ShareAlike 4.0
International License](http://creativecommons.org/licenses/by-nc-sa/4.0/).
Alternative licensing options may be avaiable from the authors.

- - -

### Copyright

Authors and contributors retains all copyright, authorship
and redistribution rights for the content that they themselves
create.

- - -

### Contributors

Contributing to this book
requires that the contributor agrees
to licensing their content under the same terms as above.

The sources for website are located in the [Biostar Handbook website][gitrepo] git repository.
For guidelines on how to contribute follow see the {% link "contribute.html" %} page.

[gitrepo]: https://github.com/ialbert/biostar-handbook-web
[book]: https://leanpub.com/biostarhandbook

- - -

### Site Policy

Be well, do good work and keep in touch.

{%  endmarkdown %}

{% endblock %}