{% load pytags %}
{# subtitle = base #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon8.ico" type="image/x-icon"/>

    <title>
        {{ page.title }}
    </title>

    <script src="/static/prism.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/static/prism.css">

    <link rel="stylesheet" type="text/css" href="/static/style.css">

    {% pygments_css %}

    {% block head %}

    {% endblock %}


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

</head>
<body class="language-bash">


<div class="container">

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <a name="top"></a>
            {% block bodyhead %}
            {% endblock %}

            {% block bodytitle %}
            <div>

                <div class="top title">
                    {{ page.title|safe }}
                    {% if page.subtitle != '?' %}
                    <span class="hidden-xs hidden-sm"> &bull;
                        <span class="muted">{{ page.subtitle }}</span>
                    </span>

                    {% endif %}

                </div>
            </div>
            {% endblock %}

            {% block navbar %}
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    {% for path, label in context.NAVBAR %}
                    {% if page.fname == path %}
                    <li class="active"><a href="/{{path|safe}}">{{label|safe}}</a></li>
                    {% else %}
                    <li><a href="/{{path|safe}}">{{label|safe}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endblock %}


            <div class="row" id="body">
                <div class="col-md-12 top">

                    {% block body %}
                    BODY
                    {% endblock %}
                </div>
            </div>

            <div id="footer">
                <div class="hr">&nbsp;</div>

                <div class="text-center">
                    <p class="muted">
                        Last updated
                        on {{ page.last_modified }} &bull; {% link "about.html" "License &amp; Copyright" %} &bull; {% link "contribute.html" %}

                    </p>

                    <p class="muted">Generated <i>auto-magically</i> with <a
                            href="https://github.com/ialbert/pyblue">PyBlue</a>
                        from the <a href="https://github.com/ialbert/biostar-handbook-web">Biostar&nbsp;Handbook&nbsp;Repository</a>
                        <a href="https://github.com/ialbert/biostar-handbook-web/tree/master/www/{{page.fname}}"></a>
                    </p>

                </div>
            </div>

        </div>
    </div>
</div>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-101522-16', 'auto');
    ga('send', 'pageview');

</script>


</body>
</html>