{% extends "base.html" %}
{% load pytags %}
{# title = Biostar Hanbook #}
{# subtitle = bioinformatics survival guide #}
{# navtab = index #}
{# name = Home #}

{% block body %}

<blockquote>
    <p>
        <b>Note:</b> work in progress.
    </p>

    <p>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <a href="https://leanpub.com/biostarhandbook">Click here to register</a>
    to be notified of the preview releases.
    </p>
</blockquote>

{% include "book_link.html" %}

{% markdown %}

This website is an online companion for
the book [Biostar Handbook][book] that
provides a practical overview for the data
analysis methods of bioinformatics.

- - -

### Book Chapters

This table of contents groups subjects
by topics and is ordered to facilitate locating
sections. The complexity of
material varies across these sections. Please
refer to the book for a recommended order
for learning the various subjects.

#### Computer Setup

* {% link 'software-installation.html' %}
* {% link 'how-to-install-everything.html' %}

#### Computational skills

* {% link 'unix-intro.html' %}
* {% link 'unix-shell-scripts.html' %}
* {% link 'programming-intro.html' %}

#### Data Sources

* {% link 'ncbi-entrez.html' %}
* {% link 'short-read-archive.html' %}
* {% link 'genomic-visualization.html' %}
* {% link 'fastq-quality-control.html' %}

#### Functional Analysis

* {% link 'gene-ontology.html' %}

#### Sequence Alignments

* {% link 'emboss-intro.html' %}
* {% link 'blast-intro.html' %}
* {% link 'next-gen-aligners.html' %}
* {% link 'SAM-format.html' %}

#### Identifying Genomic Variations

* {% link 'snp-calling.html' %}

#### Gene Expression and Transcriptome Analysis

- - -

### Data Analysis

(coming soon).

- - -

### Frequently Asked Questions

* {% link "software-installation" %} - start here.
* {% link "computer-setup" %} - hardware setup.
* {% link "how-to-install-everything" %} - installation instruction for every tool in the book.
* {% link "how-to-set-the-path" %} - you need to tell the computer where to look for it.
* {% link "bash-profile.html" %} - how to apply settings for every terminal.
* {% link "nuked-the-path.html" %} - because one day everyone does.

[book]: https://leanpub.com/biostarhandbook

{% endmarkdown %}

{% endblock %}