{% extends "base.html" %}
{% load pytags %}
{# title = Biostar Handbook #}
{# subtitle = bioinformatics survival guide #}
{# navtab = index #}
{# name = Home #}

{% block body %}

<blockquote>
    <p>
        <b>Note:</b> work in progress.
    </p>

    <p>
        <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
        <a href="https://leanpub.com/biostarhandbook">Click here to register</a>
    to be notified of the preview releases.
    </p>
</blockquote>

{% include "book_link.html" %}

{% markdown %}

This website is an online companion for
the book [Biostar Handbook][book] that
provides a practical overview for the data
analysis methods of bioinformatics.

- - -
### Current courses

The content below reflects the most up to date content for the Biostar Handbook.

* {%  link '2016-index-world-campus' 'BMMB 852: Spring 2016. Applied Bioinformatics, World Campus' %}

- - -

### Previous courses

Below you will find archival materials presented during previous courses.
As the lectures are being reworked some of the links and content in older lectures
may become invalid. The current book and lectures contain the most authoritative information.


* {%  link '2015-index' 'BMMB 852: Fall 2015. Applied Bioinformatics' %}

[book]: https://leanpub.com/biostarhandbook

{% endmarkdown %}

{% endblock %}