{% extends "base.html" %}
{% load pytags %}
{# title = Biostar Handbook #}
{# subtitle = bioinformatics survival guide #}
{# navtab = index #}
{# name = Home #}

{% block body %}

{%  include "book_link.html" %}

{% markdown %}

**Note**: This is work in progress estimated to be completed by the end 2015.
[Click here to register](https://leanpub.com/biostarhandbook)
on the book website to be informed of preview releases.
We will release partial versions of the book to collect feedback and suggestions.

- - -

Bioinformatics is the science of extracting and interpreting
the information encoded in genomes.

The [Biostar Handbook][book] provides a condensed and practical
overview of the major data analysis methods
of bioinformatics. This website is an online companion of the book.

All chapters in the book have corresponding web pages that
demonstrate commands and their outputs in more detailed
manner than what was appropriate for the the book.

The content of this website may change more frequently
than there are updates to the book. The site
will be updated to correct errors, add more elegant and
efficient solutions and to expand the material.

### Book Chapters

Supporting material for book chapters:

{% for url, tab, label in context.CHAPTERS %}
1. {% link url %}
{% endfor %}


### Software Installation Help

Shortcuts to installation related information:

* {% link "how-to-install-everything" %} - installation instruction for every tool

* {% link "how-to-set-the-path" %} - to ensure that your environment finds the tools.

* {% link "bash-profile.html" %} - to ensure that your settings are applied automatically.

[book]: https://leanpub.com/biostarhandbook

{% endmarkdown %}

{% endblock %}