{% extends "base.html" %}
{% load pytags %}
{# title = Biostar Handbook #}
{# subtitle = License #}
{# navtab = license #}
{# name = license #}

{% block body %}

{%  include "book_link.html" %}

{% markdown %}

We grant the owners of the [Biostar Handbook][book] permanent and
irrevocable rights to use, modify, alter and redistribute new
content derived from the materials obtained from this site.

Contributing to the [Bioinformatics Handbook][book] will grant
this license to the contributor. Contributing to this book also
requires that the contributor agrees to licensing their content
under the same terms as above.

All authors retain copyright, authorship and distribution
rights for content that they create.

[book]: https://leanpub.com/biostarhandbook

{% endmarkdown %}

{% endblock %}