* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #363636;
    //font-family: 'Open Sans', sans-serif;
}

.muted {
    color: #666666;
}



.hr {
    margin-bottom: 1ex;
    border-bottom: 1px solid #CDCDCD;
}

.top {
    padding-top: 1em;
}

.chapter.title {
    padding: 1em 0em 1em 0em;
    border-bottom: 1px solid #CDCDCD;
}

