* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #363636;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
}

blockquote {
    font-size: 16px;
    background-color: #EFEFEF;
    border-left: 10px solid #CECECE;
}

pre {
    font-size: 16px;
}

.muted {
    color: #666666;
}


.hr {
    margin-bottom: 1ex;
    border-bottom: 1px solid #CDCDCD;
}

.top {
    padding-top: 1em;
}

.chapter.title {
    padding: 1em 0em 1em 0em;
    border-bottom: 1px solid #CDCDCD;
}

#footer {

}
