{% extends "base.html" %}
{# subtitle = unitbase #}
{% block bodyhead %}

<div class="chapter title">
    Section <b>{{page.title}}</b> for the
    <a href="https://leanpub.com/biostarhandbook">
        <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Biostar Handbook</a>.
    <div style="float:right">
        <a href="https://github.com/ialbert/biostar-handbook-web/tree/master/www/{{page.fname}}">
             <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</a>
    </div>
</div>
{% endblock %}