{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Unix Skills #}
{# subtitle = getting to know the command line #}
{# name = Unix skills for bioinformatics #}

{% block body %}

{% markdown %}


**Note**: Our book is not meant to be a full introduction
to the Unix command line. There are many excellent resources you may consult.
For example recommend [Unix for Biologists][unix-for-biologist] by Ian Korf.

What we attempt to show you are the concepts and methods and the manner
that these are typically employed.

Below we will use simple unix tools to obtain and investigate
a genome feature file that represents all the annotated features
in the yeast genome.

    # Get the data from SGD.
    # http://www.yeastgenome.org/download-data/curation
    curl http://downloads.yeastgenome.org/curation/chromosomal_feature/SGD_features.tab > sc.tab

    # Also get the readme file.
    curl -http://downloads.yeastgenome.org/curation/chromosomal_feature/SGD_features.README > README

    # How many lines does the file have.
    wc -l sc.tab

    # Investigate the file.
    head sc.tab

    # Find simple patterns in the file
    grep YAL060W sc.tab | head

    # Color the output to see the matches
    grep YAL060W sc.tab --color=always | head

    # We can place the results of the matching
    # into a new file.
    grep YAL060W sc.tab > match.tab

    # How many lines in the file match the word gene?
    cat sc.tab | grep gene | wc -l

    # The above matches the word gene anywhere.
    # It looks like this file uses the feature
    # type (column 2) ORF for protein coding genes.

    # Build your commands one step at a time.
    # Pressing the up arrow recalls the previous line.
    cat sc.tab | head
    cat sc.tab | cut -f 2 | head
    cat sc.tab | cut -f 2 | grep ORF | head

    # How many rows have the word ORF on them.
    cat sc.tab | cut -f 2 | grep ORF | wc -l

    # How many lines of the above DO NOT
    # match the word Dubious? Adding
    # the -v flag to grep reverts the action of grep
    # it shows lines that do not match.
    cat sc.tab | grep -v Dubious | cut -f 2,5,9 | wc -l

    # How many feature types are in this data?
    cat sc.tab | cut -f 2 > features.tab

    # Sorting places identical consecutive
    # entries next to one another.
    cat features.tab | sort | head

    # Find unique words.
    # The uniq command collapses consecutive
    # identical words into one.
    cat features.tab | sort | uniq | head

    # Using -c flag to uniq will not only collapse consective entires
    # it will print their counts.
    cat features.tab | sort | uniq -c | head


[sgd-download]: http://www.yeastgenome.org/download-data/curation
[unix-for-biologist]: http://korflab.ucdavis.edu/Unix_and_Perl/index.html

{% endmarkdown %}

{% endblock %}