{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Unix Skills for Bioinformatics #}
{# subtitle = mastering the command line #}
{# name = Unix Skills for Bioinformatics #}

{% block body %}

{% markdown %}

The ability of using simple Unix commands is a fundamental
requirement to performing bioinformatics data
analysis with command line tools. The utility of
understanding Unix commands goes far beyond just that gained from
running the bioinformatics
tools themselves. They are exceedingly useful for all aspects of
the scientific inquiry: pre and post processing of data, making inferences,
validating results, perfoming sanity checks and overall raising an
individuals productivity.

**Important**: Our book is not meant to be a full introduction
to the Unix command line. There are many well written resources to address
this need. We recommend [Unix for Biologists][unix-for-biologist] by Ian Korf.

[unix-for-biologist]: http://korflab.ucdavis.edu/Unix_and_Perl/index.html

Below we will use simple unix tools to obtain and investigate
a genome feature file that represents all the annotated features
in the yeast genome.The data is obtained from [SGD Curated Data][sgd-download]

[sgd-download]: http://www.yeastgenome.org/download-data/curation

{% endmarkdown %}

{#  This will insert the code into the page #}
{% code "unit/code/unix-intro.sh" %}

{% endblock %}