{% extends "unitbase.html" %}
{% load pytags %}
{# title = Automating Data Access #}
{# subtitle = NCBI, Ensemble, UCSC #}
{# name = Automating Data Access: NCBI - Entrez #}

{% block body %}

{% markdown %}


### Install Edirect

### Using Edirect

Short intro to efetc, esearch and elink

{% code "unit/code/ncbi-edirect-basics.sh" %}

### Taxonomy searches with Entrez

On the NCBI taxonomy

{% code "unit/code/ncbi-edirect-taxonomy.sh" %}

### Getting data from SRA

Short read archive is

{% code "unit/code/ncbi-edirect-sra.sh" %}

{% endmarkdown %}


{% endblock %}