{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Software installation #}
{# subtitle = turn your computer into a computational beast #}
{# name = Software installation and computer setup #}

{% block body %}

{% markdown %}

### Software installation

Shortcuts to installation related information:

* {% link "how-to-install-everything" %} - installation instruction for every tool
* {% link "how-to-set-the-path" %} - to ensure that your environment finds the tools.
* {% link "bash-profile.html" %} - to ensure that your settings are applied automatically.

### Basic Concepts

Bioinformatics requires the installation of many software tools that usually are distributed in
various formats:

* "binaries" that can be run directly on the target computer
* programs that require the presence of another programming language: `java`, `python`, `ruby` or `perl`
* source code that needs to be "compiled" to create a "binary" program.

In addition programs may have installers, other programs that make the tool available on the system,
they may come in archives (files packed and compressed together) or in a source code versioning system
such as git.

The final and often most challenging complexity to installation are the so called
"requirements" and "dependencies" that a software may need to function.
These mean other software functionality that the new software expects to be present on
the system. Notably the quality of software often correlates directly with the ease
of installation, a corrolaly of which is that when it is difficult to install
software it is probably not worth the trouble to begin with.

### Directory layout

We recommend that all tools be placed under the same directory so that it is easy to find them
by name. We like to use the `~/src` directory. This means all external softare
code will be installed there. We also recommend that you create a `~/bin` directory
that is added to the execution path. This avoids having to extend the path for each tool

    mkdir -p ~/src
    mkdir -p ~/bin




{% endmarkdown %}

{% endblock %}