{% extends "unitbase.html" %}
{% load pytags %}
{% load handbook %}
{# title =  BLAST #}
{# subtitle = the one and ultimate #}
{# name = Searching sequence databases with BLAST #}

{% block body %}

{% markdown %}
Shortcuts: [Using BLAST](#intro) &bull; [BlastDB commands](#blastdbcmd)
{% endmarkdown %}

{% anchor "intro" %}

{% markdown %}
- - -
#### Using BLAST
{% code "blast/blast-intro.sh" %}
{% endmarkdown %}
{% top %}

{% anchor "blastdbcmd" %}

{% markdown %}
- - -
#### Using BLASTDB commands

{% endmarkdown %}
{% top %}


{% endblock %}