{% extends "unitbase.html" %}
{% load pytags %}
{% load handbook %}
{# title =  BLAST #}
{# subtitle = the one and ultimate #}
{# name = Searching sequence databases with BLAST #}

{% block body %}

{% markdown %}
Shortcuts: [Using BLAST](#intro) &bull; [Find Mutations in the Ebola Polymerases](#polymerase) &bull; [BlastDB commands](#blastdbcmd)
{% endmarkdown %}

{% md intro %}
- - -
#### Using BLAST
{% code "blast/blast-intro.sh" %}
{% endmd %}

{% md polymerase %}
- - -
#### Changes in the Polymerase Gene Product
{% code "blast/blast-ebola-polymerase.sh" %}
{% endmd %}

{% md blastdbcmd %}
- - -
#### Using BLASTDB commands

{% code "blast/blast-db-commands.sh" %}

{% endmd %}

{% endblock %}