{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Emboss #}
{# subtitle = sequence manipulations #}
{# name = Sequence analysis and alignment with EMBOSS #}

{% block body %}

{% markdown %}

This page contains the following sections:

* [Sequence manipulation](#sequence)
* [Local and global alignments](#align)

The best way to tame the EMBOSS tools is to add the `-filter` parameter to each
invocation, hence making the tool accept all defaults and print to the screen.

Software installation help: {% link "install-everything" %}
{% endmarkdown %}

{% md sequence %}
- - -
### Sequence manipulation

{% code "emboss/emboss-intro.sh" %}
{% endmd %}

{% md align %}
- - -
### Local and global alignments

We have created two shell scripts around EMBOSS aligners to
make exploratory alignments easier.

See {% link "global-align" "global-align.sh" %} and {% link "local-align" "local-align.sh" %}

{% code "emboss/install-wrappers.sh" %}

Note: The wrappers above use the optimal versions of the aligners: `needle` (for global alignment) and `water`
(for local alignment). In practice we make use of the better perfoming and
near-optimal implementations of the same algorithms
called `stretcher` (global alignment) and `matcher` (local alignment).

{% code "emboss/emboss-align.sh" %}

{% endmd %}

{% endblock %}