{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Example page #}
{# subtitle = Example subtitle #}
{# name = Example Link Name #}

{% block body %}

    <p>These are pages that may contain
        plain html, markdown (see below) and can operate as
        django templates.</p>

    <p>
        The django templates can access data loaded from <code>context.py</code>
    </p>

    <p>
        For example <code>context.say_hello</code> will be rendered as: {{ context.say_hello }}
    </p>

    <p>
        Restart the server if you alter context.py or if you add a new file. Pyblue will
        reload changes in existing files but won't pick up new files or a changed context.py
    </p>

    <p> Or it can read the <code>context.numbers</code> in a for loop here:
        {% for value in context.numbers %}
            {{ value }}
        {% endfor %}
    </p>

{% markdown %}

### Hello Markdown

Markdown input needs to be placed between these tags.

* one
* two
* three

{% endmarkdown %}

{% endblock %}