{% extends "unitbase.html" %}
{% load pytags %}
{% load handbook %}
{# title = Making sense of data #}
{# subtitle = GO, GO, pathways #}
{# name = Making sense of data: functional annotations, pathways  #}

{% block body %}

{% markdown %}

This page contains the following sections:

* [Gene Ontology](#ontology)
* [Genset Enrichment](#enrichment)

Software installation help: {% link "install-everything" %}

{% endmarkdown %}

{% md ontology %}
- - -
### Gene Ontology
{% code "ontology/gene-ontology.sh" %}
{%  endmd %}


{% md enrichment %}
- - -
### Geneset Enrichment
{% code "ontology/geneset-enrichment" %}
{%  endmd %}

{% endblock %}
