{% extends "unitbase.html" %}
{% load pytags %}
{# title = Entrez Direct #}
{# subtitle = NCBI, Ensemble, UCSC #}
{# name = Automating Data Access: NCBI - Entrez #}

{% block body %}

{% markdown %}

### Install Edirect

The Entrez Direct utilities can be downloaded from the [NCBI FTP](ftp://ftp.ncbi.nlm.nih.gov/entrez/entrezdirect/).

See also the [release notes](http://www.ncbi.nlm.nih.gov/news/02-06-2014-entrez-direct-released) and the relevant answers in [Biostar](https://www.biostars.org/p/92671/) for more help.

### Using Edirect

Short intro to efetch, esearch and elink

{% code "entrez/ncbi-edirect-basics.sh" %}

### Taxonomy searches with Entrez

On the NCBI taxonomy

{% code "entrez/ncbi-edirect-taxonomy.sh" %}

### Getting data from SRA

Short read archive is

{% code "entrez/ncbi-edirect-sra.sh" %}

{% endmarkdown %}


{% endblock %}
