{% extends "unitbase.html" %}
{% load pytags %}
{% load handbook %}
{# title =  RNA-seq Quantification #}
{# subtitle = Exploring the Transcriptome #}
{# name = Estimating transcript abundance #}

{% block body %}

{% markdown %}
Shortcuts: [Download Data](#download) &bull; [Read QC](#qc) &bull; [Map Reads](#map) &bull; [Count Reads (optional)](#count) &bull; [Estimate Abundance](#estimate) 
{% endmarkdown %}

{% anchor "download" %}
{% anchor "qc" %}
{% anchor "map" %}
{% anchor "count" %}
{% anchor "estimate" %}

{% endblock %}
