{% extends "unitbase.html" %}
{% load pytags %}
{# title = SAM #}
{# subtitle = sequence alignment maps #}
{# name = Alignment representation: Sequence Alignment Maps (SAM) #}

{% block body %}

{% markdown %}
**Shortcuts:** [SAM Format](#format) &bull; [Using Samtools](#samtools)
- - -
{%  endmarkdown %}

{% md format %}
### Explore the SAM format

The Sequence Alignment Map definition: [SAM Specification][sam-spec]

[sam-spec]: https://samtools.github.io/hts-specs/

{% code "sam/explore-sam-format.sh" %}

{% endmd %}

{% md samtools %}

### Using Samtools

Samtools is a magical tool that alone could be used
to reproduce the majority of results in a suprising number publications.

{% code "sam/samtools-commands.sh" %}

{% endmd %}


{% endblock %}
