{% extends "unitbase.html" %}
{% load pytags %}
{# title = Short Read Archive #}
{# subtitle = using the SRA toolkit #}
{# name = Accessing the Short Read Archive #}

{% block body %}

{% markdown %}

We assume that you have installed the `SRA Toolkit` as described in
{% link "how-to-install-everything" %}

We will be accessing data from the bioproject repository of the
[Zaire ebolavirus sample sequencing from the 2014 outbreak in Sierra Leone, West Africa](http://www.ncbi.nlm.nih.gov/bioproject/PRJNA257197/)

#### Using SRA tools

{% code "sra/using-sra-toolkit.sh" %}

#### Access data for the Bioproject

This sections requires that you are familiar with Entrez Direct.

{% code "sra/accessing-sra-runs.sh" %}

{% endmarkdown %}


{% endblock %}
