{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Setup #}
{# subtitle = a computational beast #}
{# name = Get your computer ready for bioinformatics #}

{% block body %}

{% markdown %}

### Required steps

* {% link "computer-setup" %} - set up your hardware.
* {% link "how-to-install-everything" %} - installation instruction for every tool.
* {% link "how-to-set-the-path" %} - make your environment find the programs.
* {% link "bash-profile.html" %} - make your settings apply automatically.
* {% link "nuked-the-path.html" %} - because one day everyone does.

- - -

### Basic concepts

Bioinformatics requires the installation of many software tools that usually are distributed in
various formats:

* "binary code" that can be run directly on the target computer.
* programs that require the presence of another programming language: `java`, `python`, `ruby` or `perl`.
* source code that needs to be "compiled" to create a "binary" program.

In additions programs may have so called "dependencies" other additional software
that needs to be present.

- - -

### Directory layout

We recommend that all tools be placed under the same directory. We recommend
to use the `~/src` for all downloaded tools. We also recommend that you
create a `~/bin` directory that is added to the execution path. This
avoids having to extend the path for each tool.

    mkdir -p ~/src
    mkdir -p ~/bin

- - -

### Install a good editor

Microsoft Word is **NOT** a text editor. Sooner or later it will  cause (devious) problems.
Best if you start using a proper text editor. Essential features:

* Optionally visualize **TAB** characters versus multiple **SPACE** characters.
  Mixing up TABS and SPACES is a very common error. Copy-pasting from a web
  page often turns a TAB into SPACE characters (very annoying). We need the ability
  to see the difference if necessary.
* Show line numbering. Lets us to identify the line where an error is reported.
* Switch line endings. Line endings have variants: Unix, Windows or Mac OS 9 endings.
  (Mac OSX uses Unix line endings). All files should have a  Unix line ending mode.
  Your editor needs to have the ability to convert line endings to Unix format.

Recommendation: [Sublime Text 2](http://www.sublimetext.com/2) but there are many other options
with different tradeoffs.
We use [PyCharm](https://www.jetbrains.com/pycharm/) for text editing and programming.

{% endmarkdown %}

{% endblock %}