{% extends "unitbase.html" %}
{% load pytags %}
{# title =  Unix Skills #}
{# subtitle = mastering the command line #}
{# name = Unix Skills for Bioinformatics #}

{% block body %}

{% markdown %}

The ability to use Unix commands is
required to perform bioinformatics data
analysis with command line tools.

**Note**: Our book is not meant to be a full introduction
to the Unix command line. There are many resources you may consult.
We recommend [Unix for Biologists][unix-for-biologist] by Ian Korf.

Below we will use simple unix tools to obtain and investigate
a genome feature file that represents all the annotated features
in the yeast genome.

{% code "unix/unix-intro.sh" %}

- - -

A few useful constructs:

{% code "unix/unix-useful-constructs.sh" %}


[sgd-download]: http://www.yeastgenome.org/download-data/curation
[unix-for-biologist]: http://korflab.ucdavis.edu/Unix_and_Perl/index.html

{% endmarkdown %}

{% endblock %}