{% extends "unitbase.html" %}
{% load pytags %}
{# title =  How to install everything #}
{# subtitle = install every piece of code in the book #}
{# name = How to install every tool in this book #}

{% block body %}
{% markdown %}

Shortcuts to installation related information:

* {% link "how-to-set-the-path" %} - to ensure that your environment finds the tools.
* {% link "bash-profile.html" %} - to ensure that your settings are applied automatically.

### How to use this page

This page lists the installation instruction for every tool in the book.
The instructions are comprehensive and can be copy pasted into a terminal.
We follow the directory layout described in {% link "unit/999-software-installation" %}

Note that for each installation step we show the update command to the `PATH`
command but we won't apply it permanently to your shell profile.
There are many ways to make use of these profiles and there is no universal way to
apply the change for everyone. See the links on top for information on where to place this command.

#### Mac OS X

Mac OSX users need to install XCode from the AppStore. In addition the may
need also need to occasionally launch XCode after a service update to agree to
terms of license that may change in time. In addition ensure that command line
tools are installed with:

    xcode-select --install

The Mac OSX instructions will use [HomeBrew](http://brew.sh/) whenever the tool has a corresponding
recipe. Ocassionally when using `brew` the version of the software may older than the latest release.
In that case users should follow the Unix instructions on Mac OSX as well.

#### Linux

There are numerous Linux distributions with various naming schemes. To set up a system users
need to install packages via a so called package manager: `apt-get`, `yum` and others.
Depending on the Linux distribution's intial configuration one may install some, all or none of the
package shown below. Moreover the naming of these libraries occasionally changes. Please report
errors via the ticketing system. For Ubuntu linux the following instructions were required.

    # Install a number of required libraries.
    sudo apt-get install -y curl build-essential ncurses-dev byacc zlib1g-dev python-dev git cmake

    # Install java and python libraries.
    sudo apt-get install -y unzip default-jre python-pip

    # You may also need to install common perl modules that are not always included.
    sudo perl -MCPAN -e 'install "LWP::Simple"'
    sudo perl -MCPAN -e 'install "HTML::Entities"'

#### Windows/Cygwin

TODO

## SRA toolkit

The SRA tookit allow us to access the Short Read Archive. It is a suite of tools
the most used among them are: `prefetch`, `fastq-dump`. The SRA toolkit is
distributed as binary programs for each platform.

Webpage: http://www.ncbi.nlm.nih.gov/Traces/sra/?view=software

**MacOSX**:

    brew info sratoolkit
    brew install sratoolkit

**Unix**:

    cd ~/src
    curl -OL http://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/2.5.2/sratoolkit.2.5.2-ubuntu64.tar.gz
    tar xzvf sratoolkit.2.5.2-ubuntu64.tar.gz

    # Update the PATH
    export PATH=~/src/sratoolkit.2.5.2-ubuntu64/bin:$PATH

    # The tools that can be run are visible in
    ls ~/src/sratoolkit.2.5.2-ubuntu64/bin/

**Cygwin**:

Follow the Unix instructions replacing the url with `http://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/2.5.2/sratoolkit.2.5.2-win64.zip`

## Edirect

Entrez direct are a suite of tools used to connect to the NCBI Entrez data interfaces.

Webpage:

## TopHat

Website: https://ccb.jhu.edu/software/tophat/index.shtml

    # Start in the code sources
    cd ~/src

    # We are getting the Mac version
    curl -O https://ccb.jhu.edu/software/tophat/downloads/tophat-2.1.0.OSX_x86_64.tar.gz

    # this would be the Linux version
    # curl -O https://ccb.jhu.edu/software/tophat/downloads/tophat-2.1.0.Linux_x86_64.tar.gz

    # Unpack the archive:
    tar xzvf tophat-2.1.0.OSX_x86_64.tar.gz

    # The progam is installed and can be run as
    # ~/src/tophat-2.1.0.OSX_x86_64/tophat

    # Tophat is a suite of programs and we wish to have all tools available
    # without having to type the lengthy paths.
    #
    # Append the path to the tophat directory to the $PATH variable
    #
    # echo 'export PATH=~/src/tophat-2.1.0.OSX_x86_64;$PATH' >> ~/.bash_profile

    # Optionally remove the downloaded file
    rm tophat-2.1.0.OSX_x86_64.tar.gz

    # Apply the settings to the current shell
    # source ~/.bash_profile

{% endmarkdown %}
{% endblock %}