{% extends "unitbase.html" %}
{% load pytags %}
{# title =  How to set the PATH #}
{# subtitle = how to run tools you have installed #}
{# name = How to set the PATH #}

{% block body %}

{% markdown %}

One of the most frustrating issues faced by newcomers is how to run a program
they have just installed.

Follow the following strategies:

1. Run the program by its fully qualified path (location):

    ~/src/sratoolkit.2.5.2-mac64/bin/fastq-dump

2. Add the location of the program to the search path of the shell:

    export PATH=~/src/sratoolkit.2.5.2-mac64/bin:$PATH

3. Create a symbolic link (a shortcut) to the program to a
    location that is already on the search PATH

    ln -s ~/src/sratoolkit.2.5.2-mac64/bin/fastq-dump ~/bin

This latter assumes that you have added `~/bin` to you path.

    export PATH=~/bin:$PATH

The advantage here is that you can link multiple tools into the `~/bin` and you
    don't have to alter the path.


TODO: Explain the following:

Why did it end up so suprisingly complex to set up?

What is the PATH?


Run a tool giving it the full path name

Run a tool by linking it into a directoy that is already in the executable path

Append the tool exectuable to the PATH variable

Why are there so many ways to do this?

How to get this applied automatically.

How do I modify the bash initialization script?

Which bash init script: .bash_profile .bashrc .profile .bash_login

Why are there so many different ways to initialize a profile?

{% endmarkdown %}
{% endblock %}