{% extends "unitbase.html" %}
{% load pytags %}
{# title =  How to install everything #}
{# subtitle = install every piece of code in the book #}
{# name = How to install every tool in this book #}

{% block body %}
{% markdown %}

### How to use this page

This page lists the installation instruction for every tool in the book.
The instructions are comprehensive and can be copy pasted into a terminal.
We follow the directory layout described in {% link "software-installation-guide" %}

Note that for each installation step we show the update command to the `PATH`
command but we won't apply it permanently to your shell profile.
There are many ways to make use of these profiles and there is no universal way to
apply the change for everyone. See the links on top for information on where to place this command
to have it loaded automatically.

- - -

## SRA toolkit

The SRA tookit allow us to access the Short Read Archive. It is a suite of tools,
the most used among them are: `prefetch`, `fastq-dump`. The SRA toolkit is
distributed as binary programs for each platform.

Webpage: http://www.ncbi.nlm.nih.gov/Traces/sra/?view=software

**Mac OSX**:

    brew update
    brew info sratoolkit
    brew install sratoolkit

**Mac OSX binary**:

    cd ~/src
    curl -OL http://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/2.5.2/sratoolkit.2.5.2-mac64.tar.gz
    tar xzvf sratoolkit.2.5.2-mac64.tar.gz

    # Update the PATH.
    export PATH=~/src/sratoolkit.2.5.2-mac64/bin:$PATH

    # The tools that can be run are visible in:
    ls ~/src/sratoolkit.2.5.2-mac64/bin/

**Unix binary**:

    cd ~/src
    curl -OL http://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/2.5.2/sratoolkit.2.5.2-ubuntu64.tar.gz
    tar xzvf sratoolkit.2.5.2-ubuntu64.tar.gz

    # Update the PATH.
    export PATH=~/src/sratoolkit.2.5.2-ubuntu64/bin:$PATH

    # The tools that can be run are visible in:
    ls ~/src/sratoolkit.2.5.2-ubuntu64/bin/

**Windows/Cygwin binary**:

    cd ~/src
    curl -OL http://ftp-trace.ncbi.nlm.nih.gov/sra/sdk/2.5.2/sratoolkit.2.5.2-win64.zip
    unzip sratoolkit.2.5.2-win64.zip

    # Update the PATH.
    export PATH=~/src/sratoolkit.2.5.2-win64/bin:$PATH

    # The tools that can be run are visible in:
    ls ~/src/sratoolkit.2.5.2-win64/bin/

Test installation by running:

    fastq-dump -h

- - -

## FastQC

A veritable workhorse of quality control FastQC is probably the most
commonly used software of high throughput genomics. It is a java
program that should be installed as a command line tool.

Webpage: http://www.bioinformatics.babraham.ac.uk/projects/fastqc/

**MacOS X**:

    brew update
    brew info fastqc
    brew install fastqc

**Works on all platforms that support java**:

    cd ~/src
    curl -O http://www.bioinformatics.babraham.ac.uk/projects/fastqc/fastqc_v0.11.3.zip
    unzip fastqc_v0.11.3.zip

    # Link the fastqc executable to the ~/bin folder that
    # you have already added to the path.
    ln -sf ~/src/FastQC/fastqc ~/bin/fastqc

    # Due to what seems a packaging error
    # the executable flag on the fastqc program is not set.
    # We need to set it ourselves.
    chmod +x ~/bin/fastqc

    # The FastQC/Configuration directory contains a number of files
    # of interest that can be customized if needed.
    ls ~/src/FastQC/Configuration/

Test installation by running:

    fastqc -h

- - -

## EDirect

Entrez Direct consist of a suite of sripts written in the Perl language that can
be used to connect to the NCBI Entrez data interfaces.
The suite includes commands that coresponds to each of the Entrez API endpoints:
`esearch`, `efetch`, `elink`, `efilter`, `epost`, `einfo` as well as a tool called `xtract`
that can be used to extract elements of an XML document.

Webpage: http://www.ncbi.nlm.nih.gov/books/NBK179288/

**Mac OSX**:

    brew update
    brew info edirect
    brew install edirect

**Works on all platforms that support Perl**:

    cd ~/src
    curl ftp://ftp.ncbi.nlm.nih.gov/entrez/entrezdirect/edirect.zip -O
    unzip edirect.zip

    # This is a suite of tools thus is best to
    # add the entire directory to the search path.
    export PATH=~/src/edirect:$PATH

    # The tools that can be run are visible in source folder.
    ls ~/src/edirect

Test installation by running:

    einfo --help

- - -

## FlexBar

Flexbar is a sequencing data quality control tool. Among
others options it offers the functionality to trim data for quality
and correct adapter contamination.

Website: http://sourceforge.net/projects/flexbar/

Cite: Matthias Dodt, Johannes T. Roehr, Rina Ahmed, Christoph Dieterich:
Flexbar − flexible barcode and adapter processing for next-generation sequencing
platforms. MDPI Biology 2012, 1(3):895-905.

**Mac OSX**:

    cd ~/src
    curl -OL http://downloads.sourceforge.net/project/flexbar/2.5/flexbar_v2.5_macosx.tgz
    tar zxvf flexbar_v2.5_macosx.tgz

    # This program requires an extra variable to be set.
    # These can be set in the profile as well.
    export DYLD_LIBRARY_PATH=~/src/flexbar_v2.5_macosx:$DYLD_LIBRARY_PATH

    # This is a single program that can be linked to ~/bin
    ln -sf ~/src/flexbar_v2.5_macosx/flexbar ~/bin/flexbar

**Linux**:

    cd ~/src
    curl -OL http://downloads.sourceforge.net/project/flexbar/2.5/flexbar_v2.5_linux64.tgz
    tar xzvf flexbar_v2.5_linux64.tgz

    # This program requires an extra variable to be set.
    # These can be set in the profile as well.
    export LD_LIBRARY_PATH=~/src/flexbar_v2.5_macosx:$LD_LIBRARY_PATH

    # This is a single program that can be linked to ~/bin
    ln -sf ~/src/flexbar_v2.5_linux64/flexbar ~/bin/flexbar

**Windows/Cygwin**: Not available.

Test installation by running:

    flexbar

- - -

## Trimmomatic

Trimmomatic performs a variety of useful trimming tasks for illumina paired-end
and single ended data.  The software requires java to operate.

Website: http://www.usadellab.org/cms/?page=trimmomatic

Publication: [Bolger, A. M., Lohse, M., & Usadel, B. (2014).
Trimmomatic: A flexible trimmer for Illumina Sequence Data. Bioinformatics][trimmomatic].

[trimmomatic]: http://bioinformatics.oxfordjournals.org/content/30/15/2114

**Works on all platforms that support java**

    cd ~/src
    curl -O http://www.usadellab.org/cms/uploads/supplementary/Trimmomatic/Trimmomatic-0.33.zip
    unzip Trimmomatic-0.33.zip

    # The program can be invoked via
    java -jar ~/src/Trimmomatic-0.33/trimmomatic-0.33.jar

    # To shorten the invocation above we can use command aliases or write a shell script.

    # Creating an alias.
    alias trimmomatic='java -jar ~/src/Trimmomatic-0.33/trimmomatic-0.33.jar'

    # Creating a shell script under ~/bin/trimmomatic
    # This will be a shell script that passes all command line
    # parameters to the java program with the $@ construct
    echo '#!/bin/bash' > ~/bin/trimmomatic
    echo 'java -jar ~/src/Trimmomatic-0.33/trimmomatic-0.33.jar $@' >> ~/bin/trimmomatic

    # make the shell script executable
    chmod +x ~/bin/trimmomatic

    # The ~/src/Trimmomatic-0.33/adapters/ directory contains
    # Illumina specific adapter sequences.
    ls ~/src/Trimmomatic-0.33/adapters/

Test installation by running:

    trimmomatic

- - -

## PrinSeq

PrinSeq is a quality control tool written in the Perl language.
It can be used to filter, reformat, or trim your genomic and metagenomic
sequence data. It generates summary statistics of your sequences in
graphical and tabular format. Note: much slower than FlexBar or Trimmomatic.

Web: http://prinseq.sourceforge.net/

Publication: [Schmieder R and Edwards R: Quality control and preprocessing of metagenomic
datasets. Bioinformatics 2011, 27:863-864][prinseq]

[prinseq]: http://bioinformatics.oxfordjournals.org/content/27/6/863.long


**Available on all platforms that run Perl**:

    cd ~/src
    curl -OL http://downloads.sourceforge.net/project/prinseq/standalone/prinseq-lite-0.20.4.tar.gz
    tar zxvf prinseq-lite-0.20.4.tar.gz

    # Link the program into you ~/bin folder under a shorter name.
    ln -sf ~/src/prinseq-lite-0.20.4/prinseq-lite.pl ~/bin/prinseq-lite

    # Set the executable flag on the script/
    chmod +x ~/bin/prinseq-lite

Test installation by running:

    prinseq-lite

- - -

## EMBOSS

EMBOSS is **The European Molecular Biology Open Software Suite**
an open source software analysis package specially developed for the needs
of the molecular biology. EMBOSS offers programs covering areas such as:

* Sequence alignment
* Rapid database searching with sequence patterns
* Protein motif identification, including domain analysis
* Nucleotide sequence pattern analysis: for example to identify CpG islands or repeats
* Codon usage analysis for small genomes
* Rapid identification of sequence patterns in large scale sequence sets

Web: http://emboss.sourceforge.net/

Publication: [EMBOSS: The European Molecular Biology Open Software Suite (2000) Rice,P. Longden,I. and Bleasby,A.
Trends in Genetics 16][emboss]

[emboss]: http://www.ncbi.nlm.nih.gov/pubmed/10827456

**Mac OSX**:

    brew update
    brew info emboss

    # Default install, quick.
    brew install emboss

    # Alternative. Installs EMBOSS tools with PNG and PDF output generation.
    # May take a considerable time to install.
    # brew install emboss --with-gd --with-libharu

**Linux (Ubuntu)**:

    sudo apt-get install emboss

**Windows/Cygwin)**:

    # test the download procedure

Test installation by running:

    needle -h

- - -

## TopHat

Note that this program requires that Bowtie2 be installed as well.

Website: https://ccb.jhu.edu/software/tophat/index.shtml

**Mac OSX** with brew:

    brew update
    brew info tophat
    brew install tophat

**Mac OSX** manual install:

    cd ~/src
    curl -O https://ccb.jhu.edu/software/tophat/downloads/tophat-2.1.0.OSX_x86_64.tar.gz
    tar xzvf tophat-2.1.0.OSX_x86_64.tar.gz

    # This is a suite of tools thus is best to
    # add the entire directory to the search path.
    export PATH=~/src/tophat-2.1.0.OSX_x86_64;$PATH'

    # See the progams included with TopHat.
    ls ~/src/tophat-2.1.0.OSX_x86_64

**Linux**:

    cd ~/src
    curl -O https://ccb.jhu.edu/software/tophat/downloads/tophat-2.1.0.Linux_x86_64.tar.gz
    tar xzvf tophat-2.1.0.Linux_x86_64.tar.gz

    # This is a suite of tools thus is best to
    # add the entire directory to the search path.
    export PATH=~/src/tophat-2.1.0.Linux_x86_64;$PATH'

    # See the progams included with TopHat.
    ls ~/src/tophat-2.1.0.Linux_x86_64

**Windows/Cygwin**:

The program is not available for Cygwin/Windows.

- - -

Shortcuts to other installation related information:

* {% link "computer-setup" %} - hardware setup.
* {% link "how-to-set-the-path" %} - to ensure that your environment finds the tools.
* {% link "bash-profile.html" %} - to ensure that your settings are applied automatically.

{% endmarkdown %}
{% endblock %}