{% extends "unitbase.html" %}
{% load pytags %}
{# title =  How to install everything #}
{# subtitle = install every piece of code in the book #}
{# name = How to install every tool in this book #}

{% block body %}
{% markdown %}

### How to use this page

This page lists the installation instruction for every tool in the book. The list is sorted
alphabetically. The instructions are comprehensive and can be copy pasted into a terminal.
We follow the directory layout described in {% link "software-installation-guide" %}

Note that for each installation step we show the update to the `PATH`
environment variable but don't apply it to the shell profile.
See {% link "bash-profile.html" %} page for information on where to place this instruction
to have it loaded automatically.

{# the context.SETUP_FILES contains the list of files in /unit/setup/install/*.md #}

{% for names, path in context.SETUP_FILES %}

- - -

{% include path %}

{% endfor %}

- - -

Shortcuts to other installation related information:

* {% link "computer-setup" %} - hardware setup.
* {% link "how-to-set-the-path" %} - to ensure that your environment finds the tools.
* {% link "bash-profile.html" %} - to ensure that your settings are applied automatically.

{% endmarkdown %}
{% endblock %}