{% extends "unitbase.html" %}
{% load pytags %}
{# title = Short Read Archive #}
{# subtitle = using the SRA toolkit #}
{# name = Downloading sequencing data from the Short Read Archive #}

{% block body %}

{% markdown %}

This page contains the following sections:

* [Using SRA tools](#sra)
* [Access data for a Bioproject](#access)

Software installation help: {% link "install-everything" %}
{% endmarkdown %}

{% md sra %}
- - -
### Using SRA tools

We will be accessing data from the bioproject repository of the
[Zaire ebolavirus sample sequencing from the 2014 outbreak in Sierra Leone, West Africa](http://www.ncbi.nlm.nih.gov/bioproject/PRJNA257197/)

{% code "sra/using-sra-toolkit.sh" %}
{% endmd %}

{% md access %}
- - -
### Access data for the Bioproject

This sections requires that you are familiar with Entrez Direct.

{% code "sra/accessing-sra-runs.sh" %}
{% endmd %}

{% endblock %}
