{% extends "unitbase.html" %}
{% load pytags %}
{% load handbook %}
{# title =  BLAST #}
{# subtitle = the one and ultimate #}
{# name = Searching large sequence repositories with BLAST #}

{% block body %}

{% markdown %}

This page contains the following sections:

* [Using BLAST](#intro)
* [Find Mutations in the Ebola Polymerases](#polymerase)
* [BlastDB commands](#blastdbcmd)

Software installation help: {% link "install-everything" %}

- - -
{% endmarkdown %}

{% md intro %}
### Using BLAST
{% code "blast/blast-intro.sh" %}
{% endmd %}

{% md polymerase %}
- - -
### Changes in the Polymerase Gene Product
{% code "blast/blast-ebola-polymerase.sh" %}
{% endmd %}

{% md blastdbcmd %}
- - -
### Using BLASTDB commands

{% code "blast/blast-db-commands.sh" %}

{% endmd %}

{% endblock %}