{% extends "base.html" %}
{% load pytags %}
{# title = Biostar Handbook #}
{# subtitle = bioinformatics survival guide #}
{# navtab = index #}
{# name = Home #}

{% block body %}

{% markdown %}

### BMMB 852 Spring 2016: Applied Bioinformatics

The content on this page will grow gradually as we add more content.

- - -

### Getting ready

There is no bioinformatics without running software tools. Your first mission is to
get your system ready.

* {% link "getting-your-computer-ready" %}

- - -

### Installing software

Visit this page every time you need to install a tool

* {% link 'how-to-install-everything.html' %}

Running software tools can have some pitfalls. Refer to the pages below:

* {% link "how-to-set-the-path.html" %}
* {% link "bash-profile.html" %}
- - -

### Using the Unix command line

The ability to use Unix commands is
required to perform bioinformatics data
analysis with command line tools.

* {% link "unix-shell-intro" %}
* {% link "unix-intro.html" %}

- - -

### Biological Data Sources

Automating data access is an important skill for a bioinformatician.

* {% link 'ncbi-entrez.html' %}

### Data quality control and post processing

Quality control (abbreviated as QC from now on) is the process of improving
data by removing identifiable errors from it.

* {% link 'fastq-quality-control.html' %}

[book]: https://leanpub.com/biostarhandbook

{% endmarkdown %}

{% endblock %}