{% extends "base.html" %}
{% load pytags %}
{# title = Biostar Handbook #}
{# subtitle = bioinformatics survival guide #}
{# navtab = index #}
{# name = Home #}

{% block body %}

{% markdown %}

## BMMB 852 Spring 2016: Applied Bioinformatics

The content on this page will grow gradually as we add more content.
As the book evolves and once it contains sufficient material it will
track the course more closely.

### As of Feb 25, 2016,  use the official book page: {% link "book/index.html"  %}

- - -

{% endmarkdown %}


{% endblock %}