{% extends "unitbase.html" %}
{% load pytags %}
{% load handbook %}
{# title =  BWA, Bowtie #}
{# subtitle = the fast and the furious #}
{# name = Sequence alignment with high-throughput methods #}

{% block body %}

{% markdown %}

This page contains the following sections:

* [Download reference files](#refs)
* [Using BWA](#bwa)
* [Using Bowtie](#bowtie)
* [Using BBMap](#bbmap)
* [Sequence Alignment Maps](#sam)

Software installation help: {% link "install-everything" %}

- - -

#### How to use high-throughput aligners.

High throughput aligners need to process hundreds of millions
or even billions of measurements. For that reason
their alignment protocols are less rigorous, in return they
operate at blazing speeds.

While invocations or even preformance of tools may appear similar there
can be tremendous differences in the following:

* how the alignment mode can be customized: every tool can find exact or near exact matches
  but the performance may be very different for sequences that are less similar to the reference
* the lenghts of the shortest and longest reads that the aligner can efficiently
  process.
* what tools report beyond the required standard fields: how many alternative
  alignments can the tool find, the number of optional SAM tags

The vast majority of NGS aligner comparison papers are not useful as they tend to focus
on objective measures: speed, accuracy wherease the reason that there are so many
options is that the output of tools needs to be different across different application domains.

- - -
{% endmarkdown %}

{% md refs %}
#### Reference files

Before running any of introductions below
do the following:

{% code "sam/create-reference.sh" %}
{% endmd %}

{% md bwa %}
- - -
#### Using BWA
{% code "bwa/bwa-intro.sh" %}
{% endmd %}

{% md bowtie %}
- - -
#### Using Bowtie2
{% code "bowtie/bowtie-intro.sh" %}
{% endmd %}

{% md bbmap %}
- - -
#### Using BBMap
{% code "bbmap/bbmap-intro.sh" %}
{% endmd %}


{% md sam %}
- - -
#### Investigate how mutations alter the output.

Generate various mutations then realign and inspect the output.
{% code "emboss/emboss-mutate.sh" %}
{% endmd %}

{% endblock %}